# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Data (avoid uploading large/raw data)
data/raw/
data/processed/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (optional, if large)
models/*.pkl
models/*.npy